.video-block {
  display: flex;
  flex-direction: column;

  .video-block__thumbnail {
    background-color: $black;
    video {
      width: 100%;
    }
  }

  .video-block__info {
    padding-top: 10px;
    .video-block__title {
      font-size: 1.3rem;
      font-weight: 900;
      padding: 5px 0;
    }
    .video-block__views {
      padding: 5px 0
    }
  }
}