@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&display=swap');
@import "./config/_variables.scss";
@import "./config/reset.scss";
@import "main.scss";

@import "./partials/utils.scss";
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/form.scss";
@import "./partials/socialLogin.scss";
@import "./partials/videoBlock.scss";
@import "./partials/videoPlayer.scss";
@import "./partials/user.scss";
@import "./partials/videoRecorder.scss";

@import "./pages/home.scss";
@import "./pages/videoDetail.scss";
@import "./pages/userDetail.scss";

html {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  color: $black;
}

body {
  background: $white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 100px;
}