extends layouts/main
include mixins/videoBlock

block content
  .search__header
    h3 검색 결과: #{searchingBy}
  .search__videos.videos
    if videos.length === 0
      h5 검색 결과 없음
    each video in videos.reverse()
        +videoBlock(video)