.user-avatar--big {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-avatar--medium {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.user-avatar--small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
