.video__container--detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  .video__info {
    max-width: $containerWidth;
    width: 100%;
    display: flex;
    flex-direction: column;

    .info__section {
      padding: 20px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .title__container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .video__title {
        font-size: 2rem;
        font-weight: 900;
      }

      .video-edit__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 40px;
        padding: 10px;
        border-radius: 20px;
        background-color: $highlightColor;
        font-size: 1.2rem;
        color: white;
      }
    }

    .video__views,
    .video__created-at {
      color: #777;
    }

    .video__creator {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 900;
      color: $highlightColor;
      margin-bottom: 20px;

      a:first-child {
        margin-right: 10px;
      }
    }

    .video__description {
      line-height: 1.5;
      text-indent: 50px;
    }
  }

  .video__comments {
    width: 100%;
    padding: 20px 0;

    .video__comment-number {
      font-size: 1.2rem;
    }

    .add-comment {
      display: flex;
      align-items: center;
      margin: 20px 0;
      width: 100%;
      input {
        width: 50%;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        background: transparent;
      }
    }

    .video__comments-list {
      li {
        display: flex;
        align-items: center;
        padding: 20px 0;

        .comment__user-avatar {
          margin-right: 10px;
        }

        .comment {
          display: flex;
          flex-direction: column;

          .comment-author {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
